.nav {
  display: flex;
  justify-content: space-between;
}
.nav h1{
  color: blueviolet;
  margin: 0;
  font-size: 40px;
  font-family:cursive;
}

.nav ul{
  display: inline-flex;
  list-style-type: none;
  margin:0;
  padding:0;
}
.nav ul li{
  padding-left: 15px;
  padding-top: 15px;
}
.nav ul a {
  text-decoration: name;
  color:blueviolet;
  cursor: pointer;
}
.nav .nav-search {
  margin-top: 5px;
  flex: 1;
  display:flex;
  margin-left: 5%;
  margin-right: 5%;
}
.nav .nav-search input{
  flex: 1;
  color: blueviolet;
  border: 1px solid blueviolet;
  height: 39px;
  border-right: 0px;
}

.nav .nav-search button{

  color: blueviolet;
  border: 1px solid blueviolet;
  height: 39px;
  border-left: 0px;
}
h1 a{
  color: rgba(128, 0, 0, 0.719);
  text-decoration: none;
}
.suggested-result{
  position: absolute;
  top: 40px;
  z-index: 10;
  display: list-item !important;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 300px;
}
.suggested-result li {
  padding:5px;
  border: 1px solid #ddd;
}
.suggested-result li a{
  cursor: pointer;
  color: blueviolet;
}
